{
  parser: "babel-eslint",
  extends: "airbnb",
  env: {
    "browser": true,
    "jquery": true,
  },
  rules: {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "react/forbid-prop-types": "off",
    "react/no-did-mount-set-state": "off",
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "no-class-assign": "off",
    "max-len": "off",
    "camelcase": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-case-declarations": "off",
    "no-nested-ternary": "off",
		"indent": "off",
		"react/jsx-indent": "off",
		"no-tabs": "off",
		"comma-dangle": "off",
		"func-names": "off",
		"space-before-function-paren": "off",
		"implicit-arrow-linebreak": "off",
		"operator-linebreak": "off",
		"object-curly-newline": "off"
  },
  globals: {
    "_": true
  },
}
